header h1 {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  color: yellow;
  text-shadow: 2px 2px black;
  background-color: black;
  background-image: url("quentin5.jpg");
  height: 50px;
  padding: 1em;
}
body {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
a:hover {
  color: rgb(248, 39, 144);
  font-weight: bold;
}
a:visited {
  color: rgb(79, 206, 48);
}
.akoname {
  font-family: Arial, Helvetica, sans-serif;
  width: 700px;
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translate(-20%, -50%);
}
/*==Web Frontend==*/
.text {
  margin-top: 120px;
}
.text h1 {
  font-size: 4rem;
  cursor: context-menu;
}
.text span {
  display: inline-block;
}
span:hover {
  color: rgb(241, 238, 6);
  transition: all ease .1s;
}
span.name {
  color: #ee0e51;
}
span.name:hover {
  transform: translateY(-10px);
  transition: all ease 0.3s;
}
span.m-left {
  margin-left: -10px;
}
span.m-left:hover{
  transform: translateX(10px);
  transition: all ease 0.3s;
} 

footer {
  margin-top: 300px;
  background-image: url("quentin5.jpg");
  height: 30px;
  color: white;
  padding: 1em;
  color: yellow;
}

  