#brand {
    color: rgb(0, 162, 255);
}
header h1 {
    color: aliceblue;
}
header {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    color: yellow;
    text-shadow: 2px 2px black;
    background-color: black;
    background-image: url("quentin5.jpg");
    height: 140px;
    padding: 1.5em;

  }