img.skywalker {
    width: 100%;
    display: block;
    position: relative;
    bottom: 25%;
    margin-top: 30px;
}

.mainsection {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("starnight.jpg");
    margin: 0;
    color: #fff;
}
.list {
    text-align: center;
    margin: 1em;
    margin-left: 500px;
    font-size: 20px;
}

.header {
    text-align: center;
}

h1.skywalker {
    background-image: url("starname.png");
    background-repeat: no-repeat;
    margin-left: 500px;
    height: 200px;
}

h2.skywalker {
    font-size: 2.25em;
}

.main {
    text-align: center;
    margin: 1em;
}

#bottom {
    display: grid;
    grid-template-columns: 120px 1fr 120px;
    align-self: flex-end;
    min-width: 400px;
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
}

a.skywalker {
    color: #979792;
    transition: .3s;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5em;
    text-decoration: none;
}

a.skywalker:hover {
    color: #cacbc8;
}



@media only screen and (max-width: 700px) {
    h1.skywalker {
        background-image: url("starname.png");
        background-repeat: no-repeat;
        margin-left: 150px;
        height: 200px;
    }
    .list {       
        margin-left: 150px;
        font-size: 15px;
    }
}
 
 